.escolher-flor {
  padding: 16px;
  border: 2px dashed #f4a7c1;
  border-radius: 12px;
  margin-bottom: 20px;
  color: black;
}

.lista-flores {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.lista-flores button {
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #f7c7d9;
}
