@import "./variaveis.css";

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
}

.app {
  padding: 20px;
}

h1 {
  color: var(--pink);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
