@import "./variaveis.css";

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color:#D1C4E9 ;
  display: flex;
  justify-content: center;
}

.app {
  padding: 20px;
}

h1 {
  color: #9D81BA;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
