.ver-buque {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
}

/*Buquê + Cartão */
.buque-area {
  position: relative;
  display: flex;
  flex-direction: row;
  /*buquê de um lado e cartão do outro */
  align-items: center;
  justify-content: center;
  padding: 40px;
  right: 50px;
  border-radius: 30px;
  gap: 30px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background: #FFFAF5;
  border:4px double #88B49E ;
  /*backdrop-filter: blur(10px);*/
  box-shadow: 0 15px 35px #88B49E;


}


.buque-visual {
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.flores-camada {
  position: relative;
  width: 100%;
  height: 220px;
  z-index: 1;

}

/*imagem da flor individual */
.flor-buque {
  position: absolute;
  width: 130px;
  object-fit: contain;
  margin-bottom: -133px;

}

/*Vaso */
.vaso-buque {
  width: 180px;
  z-index: 5;
  margin-top: -60px;
  filter: drop-shadow(0 5px 10px #4A3F5A );
  margin-bottom: 100px;
}

/* Carrossel de Vasos*/
.carrossel-vaso {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  background: white;
  padding: 5px 15px;
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(255, 182, 193, 0.3);
  z-index: 20;
  color: #4A3F5A;
}

.carrossel-vaso button {
  background-color: #9D81BA;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 15px #4A3F5A;
}

/* Aviso de vazio */
.aviso-vazio {
  position: absolute;
  bottom: 200px;
  width: 100%;
  text-align: center;
  color: #4A3F5A;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-cartao {
  background-color: #9D81BA;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 15px #4A3F5A;
  transition: 0.3s;
}

.btn-cartao:hover {
  transform: scale(1.05);
  background-color: #4A3F5A;
}

  .cartao-area {
  position: relative; 
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buque-final img {
  width: 320px;
}

.cartao-final img {
  width: 220px;
  filter: drop-shadow(0 3px 8px #4A3F5A );
}


@media (max-width: 768px) {
  .buque-area {
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
  }

  .buque-visual {
    width: 300px;
  }

  .cartao-visual {
    width: 300px;
    height: 190px;
  }
}

.titulo-final {
  margin-bottom: 450px;
  font-size: 20px;
  color: #9D81BA;
  display: flex;
  justify-content: center;
  align-items: center;
}