.ver-buque {
  padding: 16px;
  position: relative;
  border: 2px solid #f4a7c1;
  border-radius: 16px;
  background-color: #fff0f5;
  color: black;
  overflow: hidden;
}

/* Área para o buquê */
.flores-buque {
  position: relative; /* ESSENCIAL para sobreposição */
  width: 300px;
  height: 250px;
  margin: 0 auto;
  border: 2px dashed pink;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

/* Cada flor */
.flor-buque {
  position: absolute; /* permite sobrepor */
  bottom: 0px;
  width: 90px;
  transition: transform 0.3s;
  margin-bottom: 70px;
}

.flor {
  transition: transform 0.2s;
}

.flor:hover {
  transform: scale(1.2);
}

.vaso-buque {
  position: absolute;
  bottom: 0;
  width: 160px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
