.cartao-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  font-family: "Segoe UI", sans-serif;
  z-index: 1;
  position: relative;
}

/* Título */
.cartao-container h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

/* Carrossel do cartão */
.cartao-carrossel {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cartao-carrossel button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  background-color: #9D81BA;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 15px #4A3F5A;
}

.cartao-carrossel button:hover {
  transform: scale(1.1);
  
}


.cartao-visual {
  width: 250px;
  height: 150px;
  margin-bottom: 20px;
  perspective: none;
  cursor: pointer;
  z-index: 1;

}

.cartao-visual img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.4s ease-in-out, opacity 0.3s;
  backface-visibility: hidden;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.1));
}


/*animação de virar a folha */
.cartao-visual.virando img {
  transform: rotateY(-90deg);
  opacity: 0.5;
}

/*area para escrever a mensagem */
.mensagem-area {
  width: 100%;
  z-index: 9999;
  position: relative;
  margin-top: 15px;
  position: relative;
}

.mensagem-area textarea {
  width: 100%;
  height: 90px;
  border-radius: 15px;
  border: 2px solid #9D81BA;
  padding: 10px;
  font-size: 14px;
  font-family: 'Segoe UI', cursive;
  resize: none;
  box-shadow: inset 2px 2px 8px rgba(157, 129, 186, 0.1);

  outline: none;
  z-index: 120;
  position: relative;
  pointer-events: all !important;
  touch-action: manipulation;
  cursor: text;
}

/* Botão finalizar buquê */
.mensagem-area button {
  background-color: #9D81BA;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 15px #4A3F5A;
  transition: 0.3s;
}

.mensagem-area button:hover {
  transform: scale(1.05);
  background-color: #4A3F5A;
}

.cartao-final {
  position: relative;
  width: 220px;
  bottom: -60px;
}

.cartao-final img {
  width: 100%;
  display: block;
}

.mensagem-final {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 65%;            /* área segura fixa */
  text-align: center;

  font-family: 'Segoe UI', cursive;
  font-size: 13px;
  color: #5a3a3a;
  line-height: 1.4;
  white-space: pre-wrap;

  pointer-events: none;
}